---
// home page
// import SidebarLayout from '../layouts/SidebarLayout.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title> A Course in Mexican Spanish</title>
  </head>

  <body>
    <h1> A Course in Mexican Spanish</h1>
    <p class="text-white">
          This is a course/resource for the Spanish spoken throughtout Mexico today. While this
          course does not specifically cover all the different regional accents & dialects, it aims
          to provide a comprehensive overview of the language. Additionally, this website/resource
          was created primarily for my partner who is in the process of learning Spanish! I myself
          am currently in the process of learning the Levantine dialect of Arabic (primarily the
          Palestinian Gaza dialect) & it's been through her help that I've been able to progress &
          learn the language from a firsthand source. This is merely a way for me to repay all she's
          done for me. As such I hope this reaches those who are interested in learning language for
          any reason whatsoever, as it is through language where one & another can communicate,
          converse, & form relationships with people from different backgrounds & cultures.
        </p>
  </body>
</html>

<!-- <SidebarLayout title="A Course in Mexican Spanish">
  <div class="max-w-4xl">
    <h1 class="text-4xl font-bold text-zinc-900 dark:text-zinc-100 mb-4">
      A Course in Mexican Spanish Text
    </h1>

    <section class="mb-12">
      <h2 class="text-2xl font-semibold text-zinc-900 dark:text-zinc-100 mb-4">
        About This Course
      </h2>
      <div class="prose prose-zinc dark:prose-invert max-w-none">
        <p class="text-white">
          This is a course/resource for the Spanish spoken throughtout Mexico today. While this
          course does not specifically cover all the different regional accents & dialects, it aims
          to provide a comprehensive overview of the language. Additionally, this website/resource
          was created primarily for my partner who is in the process of learning Spanish! I myself
          am currently in the process of learning the Levantine dialect of Arabic (primarily the
          Palestinian Gaza dialect) & it's been through her help that I've been able to progress &
          learn the language from a firsthand source. This is merely a way for me to repay all she's
          done for me. As such I hope this reaches those who are interested in learning language for
          any reason whatsoever, as it is through language where one & another can communicate,
          converse, & form relationships with people from different backgrounds & cultures.
        </p>
      </div>
    </section>
  </div>
</SidebarLayout> -->
